@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
html {
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.bg-header {
  background-image: url('../public/bg5.jpg');
  background-position: center;
  background-repeat: cover;
  background-size: cover;
}
.bg-price {
  position: relative;
}

.bg-price::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../public/bg7.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(15px);
}
.bg-contact {
  background-image: url('../public/bg2.jpg');
  background-position: center;
  background-repeat: cover;
  background-size: cover;
}
.bg-menu {
  background-color: #15171b;
}
.bg-menuOut {
  background-color: rgba(0,0,0,.8);
}
.bg-star {
  background: linear-gradient(#001111 32%, #00305d);
}
@keyframes twinkle {
  0% {
    opacity: .06;
  }
   50% {
    opacity: .6;
  }
  100% {
    opacity: 0;
  }
}

.animate-twinkle {
  animation: twinkle 1.5s ease-in-out infinite;
}

.header-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.card-shadow {
  box-shadow: rgba(0, 0, 0, .1) 2px 13px 24px;
}
.price-btn {
  position: absolute;
	bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
}
.contact-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.slide-animation {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  animation-name: slide;
  animation-duration: 24s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes slide {
  from { left: 0 }
  to { left: -2660px }
}
@keyframes slide {
  from { left: 0 }
  to { left: -2803px }
}
.container-2 {
  width: 100%;
}
@media (min-width: 640px) {
  .container-2 {
      max-width: 608px;
  }
}
@media (min-width: 768px) {
  .container-2 {
      max-width: 736px;
  }
}
@media (min-width: 1024px) {
  .container-2 {
      max-width: 992px;
  }
}
@media (min-width: 1280px) {
  .container-2 {
      max-width: 1248px;
  }
}
@media (min-width: 1536px) {
  .container-2 {
      max-width: 1504px;
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-5px);
  }
}
.show-animation {
  animation: bounce 1s;
}