@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  background-color: #f8f8f8;
}
ul li {
  list-style: none;
}
.header-bg {
  background-image: url('../public/bg1.png');
  background-position: center;
  background-repeat: cover;
  background-size: cover;
}
.header-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.svg-fill {
}
.card1-shadow {
  box-shadow: rgba(0, 0, 0, .1) 2px 13px 24px;
}
.price-btn {
  position: absolute;
	bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
}